<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body{
        background: #F8101D;
      }
    </style>
  </head>
  <body>
    <h1>Add a new Pokemon</h1>
    <form class="screen" action="/pokedex/<%=index%>?_method=PUT" method="POST">
      id: </br>
      <input type="text" name="id" value="<%=theFirst151.id;%>"></br>
      Name: </br>
      <input type="text" name="name" value="<%=theFirst151.name;%>"></br>
      img: </br>
      <input type="text" name="img" value="<%=theFirst151.img;%>"></br>
      weight: </br>
      <input type="text" name="weight" value="<%=theFirst151.misc.weight;%>"></br>
      height: </br>
      <input type="text" name="height" value="<%=theFirst151.misc.height;%>"></br>
      <input type="submit" name="" value="Create Pokemon">
    </form>
  </body>
</html>
